<div style="margin-top: 13%" class="animated fadeIn Fast">

  <div class="row centerimg">

    <div id="Profesional" class="col-12 col-md-6 col-lg-4" style="margin-bottom: 2%">
      <div id="hovpro" class="rounded  transition" style="border:1px solid #eeeeee !important; cursor:pointer !important" (click)="goToProduct()">
        <div class="row" (mouseover)="eventMouseover('detail_Profesional')" (mouseleave)="eventMouseleave('detail_Profesional')">
          <div class="col-12">
            <div style="width: 140px; height: 110px;" class="card-body centerimg">
              <img src="../../../assets/imagenes/drone-profesional.png" style="width: 100%; height:100%; " alt="Responsive image" />
            </div>
          </div>
        </div>
        <div id="detail_Profesional" class="row hide">
          <div class="col-12 text-center">
            <div style="border-top: 1px solid #eeeeee; margin-top: 10px">
              <h5>Profesional</h5>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="video" class="col-12 col-md-6 col-lg-4 ">
      <div id="hovvid" class="rounded  transition" style="border:1px solid #eeeeee !important; cursor:pointer !important">
        <div class="row" (mouseover)="eventMouseover('detail-video')" (mouseleave)="eventMouseleave('detail-video')" >
          <div class="col-12">
            <div style="width: 140px; height: 110px;" class="card-body centerimg">
              <img src="../../../assets/imagenes/dron-video.png" style="width: 100%; height:100%; " alt="Responsive image" />
            </div>
          </div>
        </div>
        <div id="detail-video" class="row hide">
          <div class="col-12 text-center">
            <div style="border-top: 1px solid #eeeeee; margin-top: 10px">
              <h5>Video</h5>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div id="Competencia" class="col-12 col-md-6 col-lg-4 ">
      <div id="hovcomp" class="rounded transition" style="border:1px solid #eeeeee !important; cursor:pointer !important">
          <div class="row" (mouseover)="eventMouseover('detail-competencia')" (mouseleave)="eventMouseleave('detail-competencia')"> 
              <div class="col-12"> 
                  <div style="width: 140px; height: 110px;" class="card-body centerimg">
                    <img src="../../../assets/imagenes/drone-competencia.png" style="width: 100%; height:100%; " alt="Responsive image" />
                  </div>
                </div>
              </div>
              <div id="detail-competencia" class="row hide">
                <div class="col-12 text-center">
                  <div style="border-top: 1px solid #eeeeee; margin-top: 10px">
                    <h5>Competencia</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        


    <div id="Mini" class="col-12 col-md-6 col-lg-4 rounded brodeinferior">
      <div id="hovmini" class="rounded transition" style="border:1px solid #eeeeee !important; cursor:pointer !important">
          <div class="row" (mouseover)="eventMouseover('detail-Mini')" (mouseleave)="eventMouseleave('detail-Mini')"> 
        <div style="width: 18rem">
          <div style="width: 120px; height: 110px;" class="card-body centerimg">
            <img src="../../../assets/imagenes/drone-mini.png" class="img-fluid filterimg" alt="Responsive image" />
          </div>
        </div>
      </div>
      <div id="detail-Mini" class="row hide">
          <div class="col-12 text-center">
            <div style="border-top: 1px solid #eeeeee; margin-top: 10px">
              <h5>Mini</h5>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div id="Iniciacion" class="col-12 col-md-6 col-lg-4 rounded brodeinferior">
      <div id="hovinit" class="rounded transition" style="border:1px solid #eeeeee !important; cursor:pointer !important">
          <div class="row" (mouseover)="eventMouseover('detail-Iniciacion')" (mouseleave)="eventMouseleave('detail-Iniciacion')"> 
        <div style="width: 18rem">
          <div style="width: 100px; height: 110px;" class="card-body centerimg">
            <img src="../../../assets/imagenes/drone-iniciacion.png" class="img-fluid filterimg" alt="Responsive image" />
          </div>
        </div>
      </div> 
      <div id="detail-Iniciacion" class="row hide">
          <div class="col-12 text-center">
            <div style="border-top: 1px solid #eeeeee; margin-top: 10px">
              <h5>Iniciacion</h5>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div id="Todos" class="col-12 col-md-6 col-lg-4 rounded brodeinferior" (click)="goToProduct()">
      <div id="hovall" class="rounded transition" style="border:1px solid #eeeeee !important; cursor:pointer !important">
         <div class="row" (mouseover)="eventMouseover('detail-Todos')" (mouseleave)="eventMouseleave('detail-Todos')">
        <div style="width: 18rem">
          <div style="width: 170px; height: 100px;" class="card-body centerimg">
            <img src="../../../assets/imagenes/drones-todos.png" class="img-fluid filterimg" alt="Responsive image" />
          </div>
        </div>
       </div> 
       <div id="detail-Todos" class="row hide">
          <div class="col-12 text-center">
            <div style="border-top: 1px solid #eeeeee; margin-top: 10px">
              <h5>Todos</h5>
            </div>
          </div>
        </div>
      </div>
    </div>


